[submodule "roles/dockerRaspbian"]
	path = roles/dockerRaspbian
	url = https://github.com/fabrizio2210/ansible-role-dockerRaspbian.git
[submodule "roles/docker-swarm"]
	path = roles/docker-swarm
	url = https://github.com/fabrizio2210/ansible-dockerswarm.git
[submodule "roles/basicSetup"]
	path = roles/basicSetup
	url = https://github.com/fabrizio2210/ansible-role-basicSetup.git
[submodule "roles/deploy-service"]
	path = roles/deploy-service
	url = https://github.com/fabrizio2210/ansible-role-deployService.git
[submodule "roles/deploy-stack"]
	path = roles/deploy-stack
	url = https://github.com/fabrizio2210/ansible-role-deployStack.git
[submodule "components/HA_volume_sync_proxy"]
	path = components/HA_volume_sync_proxy
	url = https://github.com/fabrizio2210/HA_volume_sync_proxy.git
[submodule "components/HA_volume_sync_server"]
	path = components/HA_volume_sync_server
	url = https://github.com/fabrizio2210/HA_volume_sync_server.git
[submodule "components/HA_volume_sync_deployer"]
	path = components/HA_volume_sync_deployer
	url = https://github.com/fabrizio2210/HA_volume_sync_deployer.git
[submodule "components/HA_dynu_client"]
	path = components/HA_dynu_client
	url = https://github.com/fabrizio2210/HA_dynu_client.git
